/*ability begin*/

/*global begin*/

.mod-ability-content {
    background-color: #FFFFFF;
    min-width: 1200px;
}
.mod-ability-content .h-font {
    font-size: 36px;
    text-align: center;
    color: #2F2F2F;
    line-height: 36px;
    margin-top: 42px;
    margin-bottom: 40px;
}
.mod-ability-content .ablility-bg,
.mod-ability-content .light-guide-bg,
.mod-ability-content .case-info-bg,
.mod-ability-content .case-all-bg {
    width: 100%;
    border-bottom: solid 1px #EDEDED;
}
/*global end*/

/*banner begin*/

.mod-ability-content .ability-bg {
    background-color: #339DDC;
}
.mod-ability-content .banner {
    width: 1200px;
    margin: 0 auto;
    height: 380px;
    background: url('/ability/static/image/ability-duan.png') no-repeat;
}
/*banner end*/

/*icon begin*/

.izhifu,
.idingyue,
.ishare,
.izhanghao,
.ituisong,
.idingwei {
    width: 161px;
    height: 161px;
    display: inline-block;
    background: url('/ability/static/image/ability-good.png') no-repeat;
    margin-left: 117px;
    margin-bottom: 30px;
}
.izhifu {
    background-position: 0 0;
}
.idingyue {
    background-position: -168px 0;
}
.ishare {
    background-position: -336px 0;
}
.izhanghao {
    background-position: -504px 0;
}
.ituisong {
    background-position: -671px 0;
}
.idingwei {
    background-position: -840px 0;
}
.ibaixing,
.igowhere,
.ilvmama,
.imafeng {
    display: inline-block;
    background: url('/ability/static/image/ability-case.png') no-repeat;
    width: 103px;
    height: 103px;
    margin-left: 20px;
    cursor: pointer;
}
.ibaixing {
    background-position: 0 0;
}
.igowhere {
    background-position: -113px 0;
}
.ilvmama {
    background-position: -225px 0;
}
.imafeng {
    background-position: -337px 0;
}
.ierweima-baixing,
.ierweima-gowhere,
.ierweima-lvmama,
.ierweima-mafeng {
    display: inline-block;
    background: url('/ability/static/image/ability-case.png') no-repeat;
    width: 170px;
    height: 196px;
    margin-left: 36px;
    margin-top: 30px;
}
.ierweima-baixing {
    background-position: 0 -128px;
}
.ierweima-gowhere {
    background-position: -175px -128px;
}
.ierweima-lvmama {
    background-position: -348px -128px;
}
.ierweima-mafeng {
    background-position: -528px -128px;
}
/*icon end*/

/*ability begin*/

.mod-ability-content .ability {
    width: 1200px;
    margin: 0 auto;
}
.mod-ability-content .ability .more {
    font-size: 18px;
    float: right;
    margin-top: -65px;
    margin-right: 50px;
    color: #2C90DE;
}
.mod-ability-content .ability .more:hover {
    color: #ff5d43;
}
.mod-ability-content .ability-list .item {
    width: 400px;
    float: left;
}
.mod-ability-content .ability .info {
    font-size: 24px;
    text-align: center;
    color: #1B1B1B;
    line-height: 24px;
}
.mod-ability-content .ability .text {
    font-size: 18px;
    color: #B0B0B0;
    margin-top: 20px;
    height: 50px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    width: 285px;
    margin-left: 60px;
    margin-bottom: 40px;
}
/*ability end*/

/*guide begin*/

.mod-ability-content .light-guide {
    width: 1200px;
    margin: 0 auto;
}
/*light guide begin*/

.mod-ability-content .light-guide .more {
    font-size: 18px;
    float: right;
    margin-top: -65px;
    margin-right: 50px;
    color: #2C90DE;
}
.mod-ability-content .light-guide .more:hover {
    color: #ff5d43;
}
.light-guide .guide-list .item {
    display: inline-block;
    font-size: 24px;
    width: 180px;
    text-align: center;
}
.light-guide .guide-list .item-todo {
    color: #666666;
    text-decoration: none;
    display: inline-block;
}
.light-guide .guide-list li {
    vertical-align: top;
    position: relative;
}
.light-guide .guide-list li:before {
    float: left;
    content: '';
    width: 178px;
    height: 14px;
    margin: 33px -140px 0 -115px;
    position: relative;
    background: url('/ability/static/image/ability-case.png') no-repeat -448px -80px;
}
.light-guide .guide-list li:first-child:before {
    display: none;
}
.light-guide .guide-list .item p {
    color: #999999;
    font-size: 14px;
    width: 195px;
    margin-left: 30px;
}
.light-guide .guide-list .item.column-4 {
    padding: 0 25px 30px;
    width: 250px;
}
.light-guide .guide-list .item.column-4 p {
    text-align: left;
}
.light-guide .guide-list .item-title {
    color: #333;
    margin: 30px 0 25px;
}
.light-guide .guide-list .ico-submit-light,
.light-guide .guide-list .ico-create-light,
.light-guide .guide-list .ico-develop-light,
.light-guide .guide-list .ico-transform-light,
.light-guide .guide-list .ico-step-one,
.light-guide .guide-list .ico-step-two,
.light-guide .guide-list .ico-step-three,
.light-guide .guide-list .ico-step-four {
    display: inline-block;
    background: url('/ability/static/image/ability-case.png') no-repeat;
}
.light-guide .guide-list .ico-submit-light {
    width: 64px;
    height: 65px;
    background-position: -439px 0;
}
.light-guide .guide-list .ico-create-light {
    width: 64px;
    height: 65px;
    background-position: -504px 0;
}
.light-guide .guide-list .ico-transform-light {
    width: 64px;
    height: 65px;
    background-position: -640px 0;
}
.light-guide .guide-list .ico-develop-light {
    width: 64px;
    height: 65px;
    background-position: -567px 0;
}
.light-guide .guide-list .ico-step-one,
.light-guide .guide-list .ico-step-two,
.light-guide .guide-list .ico-step-three,
.light-guide .guide-list .ico-step-four {
    width: 22px;
    height: 25px;
    position: relative;
    top: 5px;
    right: 2px;
}
.light-guide .tishi {
    font-size: 14px;
    text-align: center;
    width: 873px;
    margin: 0 auto;
    border-bottom: solid 1px #EDEDED;
    margin-bottom: 50px;
    line-height: 30px;
}
.light-guide .ico-itishi {
    width: 21px;
    height: 21px;
    display: inline-block;
    background: url('/ability/static/image/ability-case.png') no-repeat -127px -336px;
    position: relative;
    top: 3px;
}
.light-guide .tishi-text {
    color: #FF5D43;
}
.light-guide .tishi-normal {
    color: #CBCBCB;
}
.light-guide .guide-list .ico-step-one {
    background-position: 0 -336px;
}
.light-guide .guide-list .ico-step-two {
    background-position: -32px -336px;
}
.light-guide .guide-list .ico-step-three {
    background-position: -65px -336px;
}
.light-guide .guide-list .ico-step-four {
    background-position: -96px -336px;
}
.light-guide .guide-list .doc {
    color: #2C90DE;
    text-decoration: underline;
}
/*light guide end*/

/*guide end*/

/*case begin*/

.mod-ability-content .case-info {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 25px 0;
}
.mod-ability-content .case-all {
    width: 1200px;
    margin: 0 auto;
}
.mod-ability-content .case-info .item {
    width: 147px;
    display: inline-block;
    cursor: pointer;
}
.mod-ability-content .case-list .text {
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    color: #414141;
}
.mod-ability-content .case-list {
    width: 590px;
    margin: 0 auto;
}
.mod-ability-content .case-info .case-list-arrow {
    width: 58px;
    height: 15px;
    background: url('/ability/static/image/ability-case-jiantou.png') #fff;
    margin-top: 25px;
}
.mod-ability-content .case-hover {
    margin-top: 40px;
    margin-bottom: 40px;
}
.mod-ability-content .case-hover .srolltext {
    width: 196px;
    margin-right: 23px;
    display: inline-block;
}
.mod-ability-content .case-hover .text {
    width: 225px;
    display: inline-block;
    margin-left: 43px;
}
.mod-ability-content .case-hover .text .title {
    font-size: 24px;
    color: #333333;
    line-height: 30px;
}
.mod-ability-content .case-hover .text .info {
    margin-top: 15px;
    font-size: 14px;
    color: #A2A2A2;
    height: 240px;
    overflow: auto;
    line-height: 30px;
}
.mod-ability-content .dis {
    display: none;
}
/*case end*/

/*ability end*/